header {
	background-color:#FDFEFF;
	height:895px;
	width:370px;
	margin-left:30px;
	margin-right:40px;
	padding-right:20px;
	float:left;
	border-right:2px solid #303030;
	position:fixed;
}

#logoimg {
	padding-top:10px;
	width:100%;
}

h1 {
  font-family:Helvetica;
  font-size: 44px;
  letter-spacing:4px;
  cursor: pointer;
  color:#303030;
  text-align:center;
  padding-top:20px;
  font-weight:bold;
}

h2 {
	font-size:20px;
	color: black;
    font-family:Helvetica;
	letter-spacing: 2px;
	font-weight:normal;
}

a:link {
  text-decoration: none;
  color:#303030;
}

a:visited {
  color:#303030;
  text-decoration-color:#55A3FF;
}

nav {
	background-color:#FDFEFF;
	float:centre;
	width:72%;
	padding: 10px;
	margin-left:476px;
	margin-bottom:18px;
	text-align: center;
	border-bottom: 2px solid #303030;
}

#navbtns {
	padding:8px;
	border:none;
	cursor: pointer;
	font-family:Helvetica;
	border-radius: 5px;
	color:#303030;
	font-size:18px;
	letter-spacing: 1.1px;
	margin-left:8px;
}

#navbtns:hover{
	background-color: #55A3FF;
	color:white;
}

.sticky {
	position: sticky;
    top: 0px;
	z-index:100;
}

body {
	background-color:#FDFEFF;
}

#info {
	width:auto;
	height:300px;
	padding:20px;
}

#sidenav:hover {
	text-decoration:underline;
	text-decoration-color:#55A3FF;
}

#homepage {
	width:60%;
	height:2500px;
	margin-left:606px;
}

#about {
	width:60%;
	height:2100px;
	margin-left:606px;
}

#vr {
	width:60%;
	height:1200px;
	margin-left:606px;
}

#journey {
	width:60%;
	height:3000px;
	margin-left:606px;
}

#heading {
	text-align:center;
	color:#2B2B2B;
	letter-spacing: 10px;
	letter-spacing: 10px;
	padding-top:15px;
	font-size: 45px;	
	font-family: Barlow,Helvetica Neue,sans-serif;
	font-weight:normal;
	letter-spacing: 4px;
	margin-bottom:30px;
	margin-top:60px;
}


h4 {
	text-align:center;
	color:#2B2B2B;
	letter-spacing: 10px;
	letter-spacing: 10px;
	padding-top:15px;
	font-size: 35px;	
	font-family: Barlow,Helvetica Neue,sans-serif;
	font-weight:normal;
	letter-spacing: 4px;
	margin-bottom:30px;
	margin-top:30px;
}

h6 {
	text-align:center;
	color:#2B2B2B;
	padding-top:15px;
	padding-right:15px;
	font-size: 15px;	
	font-family: Barlow,Helvetica Neue,sans-serif;
	font-weight:bold;
	letter-spacing: 1px;
	margin-bottom:30px;
	margin-top:60px;	
}

html {
  scroll-behavior: smooth;
}

footer {
	margin-top:120px;
	height: 80px;
	font-size:15px;
	color:#2B2B2B;
    font-family:Helvetica;
	letter-spacing: 1px;
	font-weight:normal;
}

h5 {
	text-align:center;
	color:#333333;
	letter-spacing: 10px;
	padding-top:15px;
	font-size: 30px;	
	font-family: Barlow,Helvetica Neue,sans-serif;
	font-weight:normal;
	letter-spacing: 4px;
	margin-bottom:20px;
}

p {
	text-align:justify;
	color:#737373;
	padding-left:80px;
	padding-right:80px;
	font-size: 23px;	
	font-family: Barlow,Helvetica Neue,sans-serif;
	font-weight:normal;
	letter-spacing: 1px;
}

#homepagepic {
	width:70%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	border: 1px solid #55A3FF;
}

#journeypic {
	width:70%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #55A3FF;
}


@keyframes fadein {
	from {opacity:0.5}	
	to {opacity:1}

}

@keyframes fadeout {
	from {opacity:1}	
	to {opacity:0.5}	
}

@keyframes fadeoutfull {
	from {opacity:1}	
	to {opacity:0}	
}


.imgfade {
	animation-name:fadein;
	animation-duration:1s;
	animation-fill-mode:forwards;
	height:100%;
	width: 100%;
	display: block;
	border-style:solid;
	border-color:#A1CFEB;
	border-radius:5%;	
	object-fit:cover;
}

.imgfade:hover {
	animation-name:fadeout;
	animation-duration:1s;
	animation-fill-mode:forwards;
	
}

.txtfade {
	
	font-size:70px;
	opacity:0;
	
	color: #4F4F4F;
	font-weight:bold;
	text-align:center;
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	pointer-events: none;

}

.imgfade:hover ~ .txtfade {
	animation-name:fadein;
	animation-duration:1s;
	animation-fill-mode:forwards;
	
}

.txtfade:hover ~ .imgfade {
	animation-name:fadein;
	animation-duration:1s;
	animation-fill-mode:forwards;
	
}

.leftcontainer {
	float:left;
	position: relative;
	text-align: center;
	width:490px;
	height:350px;
	margin-bottom: 30px;
}

.rightcontainer {
	float:right;
	position: relative;
	text-align: center;
	width:490px;
	height:350px;
	margin-bottom: 30px;
}


video {
	width:1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left:100px;
	padding-right:100px;
	padding-bottom:30px;		
}
